<?xml version='1.0'?>
<launch>
    <arg name="front_laser_ip" default="192.168.1.101" />
    <arg name="front_laser_frame_id" default="base_laser_front_link" />
    <arg name="front_laser_topic_name" default="/freddy/base_scan_front" />

    <arg name="back_laser_ip" default="192.168.1.102" />
    <arg name="back_laser_frame_id" default="base_laser_back_link" />
    <arg name="back_laser_topic_name" default="/freddy/base_scan_back" />

    <!-- Publish robot description -->
    <param name="robot_description" command="$(find xacro)/xacro $(find freddy_description)/robots/freddy.urdf.xacro" />
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
      <param name="publish_frequency" type="double" value="30.0" />
    </node>

    <!-- Start front laser driver -->
    <include file="$(find freddy_bringup)/ros/launch/sensors/hokuyo.launch">
        <arg name="name" value="front_laser" />
        <arg name="ip_address" value="$(arg front_laser_ip)" />
        <arg name="frame_id" value="$(arg front_laser_frame_id)" />
        <remap from="/scan" to="$(arg front_laser_topic_name)" />
    </include>

    <!-- Start back laser driver -->
    <include file="$(find freddy_bringup)/ros/launch/sensors/hokuyo.launch">
        <arg name="name" value="back_laser" />
        <arg name="ip_address" value="$(arg back_laser_ip)" />
        <arg name="frame_id" value="$(arg back_laser_frame_id)" />
        <remap from="/scan" to="$(arg back_laser_topic_name)" />
    </include>
</launch>
