<?xml version='1.0'?>
<launch>
    <arg name="name" />
    <arg name="ip_address" />
    <arg name="topic_name" />
    <arg name="frame_id" />
    <arg name="serial_port" default="" />
    <arg name="serial_baud" default="" />
    <arg name="calibrate_time" default="true" />
    <arg name="publish_intensity" default="false" />
    <arg name="publish_multiecho" default="false" />

    <!-- TODO: use full angular range from -2.35619 to 2.35619 -->
    <arg name="angle_min" default="-1.57" />
    <arg name="angle_max" default="1.57" />

    <node name="$(arg name)_node" pkg="urg_node" type="urg_node" output="screen">
      <param name="ip_address" value="$(arg ip_address)"/>
      <param name="serial_port" value="$(arg serial_port)"/>
      <param name="serial_baud" value="$(arg serial_baud)"/>
      <param name="frame_id" value="$(arg frame_id)"/>
      <param name="calibrate_time" value="$(arg calibrate_time)"/>
      <param name="publish_intensity" value="$(arg publish_intensity)"/>
      <param name="publish_multiecho" value="$(arg publish_multiecho)"/>
      <param name="angle_min" value="$(arg angle_min)"/>
      <param name="angle_max" value="$(arg angle_max)"/>
      <remap from="scan" to="$(arg topic_name)" />
    </node>

    <!-- when launching this launch fil independently, inorder to visualise in rviz, static_transform_publisher is used -->
    <!-- <node pkg="tf" type="static_transform_publisher" name="laser_link" args="0 0 0 0 0 0 /map $(arg frame_id) 30" /> -->
</launch>
